html{
    width:100%;
}
body {
    width:100%;
}
#cnvForces{
    border:1px solid black;
}
#divLeft{
    width:600px;
    float:left;
}
#divRight{
    float:left;
}
.facetxt{
    width:500px;
    height:100px;
}
table{
    margin:0;
    padding:3px;
    border-collapse:collapse;
}
th, td{
    border:1px solid black;
    padding:3px;
}
.spacer td{
    height:5px;
    font-size:.1em;
    padding:0;
}